/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/
profiles {
    ebi_testing {
        params.workdir = "/hps/nobackup/rdf/metagenomics/service-team/nextflow-workdir/mett-pipeline/testing"
        params.singularity_cachedir = "/hps/nobackup/rdf/metagenomics/service-team/singularity-cache/"

        workDir = params.workdir

        includeConfig 'conf/ebi_codon.config'

        executor {
            name = "lsf"
            queueSize = 200
            submitRateLimit = "10 sec"
            pollInterval = "10 sec"
        }

        singularity {
            enabled = true
            autoMounts = true
            cacheDir = params.singularity_cachedir
        }

        process {
            cache = "lenient"
            errorStrategy = {
                task.exitStatus in ((130..145) + 104 + 247 + 250) && task.attempt <= 2 ? 'retry' : 'finish'
            }
            queue = {
                task.memory >= 200.GB ? 'bigmem' : 'production'
            }
        }
    }
}
