/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

aws.client.anonymous = true // fixes S3 access issues on self-hosted runners
