apptainer {
    enabled        = true
    autoMounts     = true
	ociAutoPull    = false                    // Disabled this as it's causing issues with the home folder of the usres running out of storage
    pullTimeout    = "3 hours"                // The default is 20 minutes and fails with large images
    envWhitelist   = 'CUDA_VISIBLE_DEVICES'   // Allow the bounding of GPU visible device variable into the containers
    cacheDir = params.singularity_cachedir ?: System.getenv('SINGULARITY_CACHEDIR') ?: System.getenv('NFX_SINGULARITY_CACHEDIR')
}

process {
    maxRetries = 1
    cache = 'lenient'
    afterScript = 'sleep 10'
    queue = { (task.time <= 14.d && task.memory < 256.GB && (task.memory.div(task.cpus)) <= 4.GB) ? "htc-el8" : "bigmem" }
    scratch = false
}

executor {
    name = "slurm"
    queueSize = 200
    submitRateLimit = "10/1sec"
    pollInterval = '10sec'
    exitReadTimeout = "5 min"
}
