apptainer {
    enabled = true
    autoMounts = true
	ociAutoPull = true
    docker.enabled = false
    pullTimeout = "3 hours"                // the default is 20 minutes and fails with large images
    envWhitelist = 'CUDA_VISIBLE_DEVICES'  // allow the bounding of GPU visible device variable into the containers
}

process {
    maxRetries = 1
    cache = 'lenient'
    afterScript = 'sleep 10'
    queue = { (task.time <= 14.d && task.memory < 256.GB && (task.memory.div(task.cpus)) <= 4.GB) ? "htc-el8" : "bigmem" }
    scratch = '$SCRATCHDIR'
}

executor {
    name = "slurm"
    queueSize = 200
    submitRateLimit = "10/1sec"
    pollInterval = '10sec'
    exitReadTimeout = "5 min"
    retry.reason = "*"
}
